asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
Django==4.0.1
django-crispy-forms==1.13.0
django-tempus-dominus==5.1.2.16
docopt==0.6.2
idna==3.3
pipreqs==0.4.11
requests==2.27.1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.8
yarg==0.1.9