@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-custom-grid-layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
